* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('tradingimage.avif');
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    color: #fff;
    text-align: left;
    text-shadow:
        2px 2px 3px rgba(0, 0, 0, 0.5),
        -2px -2px 3px rgb(255, 255, 255, 0.5);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3))
}


.content h1 {
  font-size: 60px;
  margin-bottom: 12px;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.5),
    -2px -2px 3px rgb(255, 255, 255, 0.5);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  text-align: left;
  padding: 20px 30px;
  position: relative;
  top:0px;
  left:0px;


}

.content p {
  font-size: 30px;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.5),
    -2px -2px 3px rgb(255, 255, 255, 0.5);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3))
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1.5s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom link styles */
.custom-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
}

.custom-link:hover {
  color: orange;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Position the link container */
.link-container {
  position: absolute;
  top: 250px;
  left: 15%;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
  opacity:0
}
.link-container.show{
  opacity:1;
  pointer-events: auto;

}
.options-button{
  color:rgb(0, 0, 0);
  border:none;
  background-color:white;
  padding:12px 24px;
  font-size: 20px;
  cursor:pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s;
  margin-top: 30px;

}
.options-button:hover{
  background-color:orange;
  transform:translateY(-5px) scale(1.1);
}
.hidden{
  display:none;
}
#options-links a {
  display: block;
  margin-top: 10px;
}